{% extends  '::base.html.twig' %}

{% block sidebartitle %}Pomiary{% endblock %}

{% block sidebaritems %}
    <li><a href="{{ path('ZubiDeviceBundle_homepage') }}">Lista urządzeń</a></li>
    <li><a href="{{ path('ZubiDeviceBundle_addStation') }}">Dodaj urządzenie</a></li>
    <li class="active"><a href="{{ path('ZubiDeviceBundle_measurements') }}">Lista pomiarów</a></li>
{% endblock %}

{% block body %}
    <div class="row">
        <h3>Lista pomiarów</h3>
    </div>
    
    <script type="text/javascript">
        $(function(){
            $('#station').change(function(){
                window.location.href = "{{ path('ZubiDeviceBundle_measurements') }}/" + $(this).val();
            });

        });
        
    </script>

    <div class="row">
        Stacja: 
        <select id="station">
            {% for st in stations %}
                <option value="{{ st.id }}" {% if st.id == currentStation %}selected{% endif %}>{{ st.hash }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="row">
        {% if paginationStats.pages > 1 %}
        <div class="pagination">
          <ul>
            {% if paginationStats.pages > 1 and paginationStats.currentPage != 0 %}
                <li><a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': 0}) }}">←</a></li>
            {% endif %}
            {% for i in 1..paginationStats.pages %}
                <li {% if loop.index == paginationStats.currentPage + 1 %} class="active"{% endif %} >
                    <a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': loop.index-1}) }}">{{ loop.index }}</a>
                </li>
            {% endfor %}
            {% if paginationStats.pages > 1 and paginationStats.currentPage != paginationStats.pages - 1 %}
                <li><a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': paginationStats.pages-1}) }}">→</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>Rodzaj pomiaru</td>
                    <td>Wartość pomiaru</td>
                    <td>Data/czas</td>
                </tr>
            </thead>
            <tbody>
                {% for mt in measurements %}
                    <tr>
                        <td>{{ mt.getMeasurementType.name }}</td>
                        <td>{{ mt.getValue }}</td>
                        <td>{{ mt.timestamp.format("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% if paginationStats.pages > 1 %}
        <div class="pagination">
          <ul>
            {% if paginationStats.pages > 1 and paginationStats.currentPage != 0 %}
                <li><a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': 0}) }}">←</a></li>
            {% endif %}
            {% for i in 1..paginationStats.pages %}
                <li {% if loop.index == paginationStats.currentPage + 1 %} class="active"{% endif %} >
                    <a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': loop.index-1}) }}">{{ loop.index }}</a>
                </li>
            {% endfor %}
            {% if paginationStats.pages > 1 and paginationStats.currentPage != paginationStats.pages - 1 %}
                <li><a href="{{ path('ZubiDeviceBundle_measurements', {'stationId': currentStation, 'pageNum': paginationStats.pages-1}) }}">→</a></li>
            {% endif %}
          </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}