{% extends  '::base.html.twig' %}



{% block sidebartitle %} Profil {% endblock %}

{% block sidebaritems %}
              <li><a href="{{ path('ZubiUserBundle_homepage') }}">Ty</a></li>  
              <li><a href="{{ path('ZubiUserBundle_private') }}">Ustawienia prywatności</a></li>
              <li class="active"><a href="{{ path('ZubiUserBundle_edituser') }}">Edytuj konto</a></li>
              <li><a href="{{ path('ZubiUserBundle_list') }}">Lista</a></li>              
{% endblock %}


{% block body %}

<form action="{{ path('ZubiUserBundle_edituser') }}" method="post" novalidate="novalidate"{{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <button class="btn btn-primary" type="submit">update</button>
</form>

{% endblock %}

{% block javascript %}
<script src={{ asset('assets/js/right.js') }} type="text/javascript"></script>
<script src={{ asset('assets/js/right-calendar.js') }} type="text/javascript"></script>
<script type="text/javascript">
new Calendar({format: "%Y-%m-%d", listYears: true}).assignTo('form_data_ur');
</script>
{% endblock %}